.card_button{
    display: block;
    margin-left: auto;
    background: orangered;
    color: white;
    border: none;
    padding: 0.6em 1.2em;
    font-size: 0.7rem;
    border-radius: 0.7em;
    font-weight: 400;
    transition: transparent 100ms ease;
}

.card_button:hover{
    transform: scale(1.05);
    box-shadow: 0 0 1em #0004;
    background-color: orangered;
    color: white;
}